<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    {% include('admin/head.html.twig') %}
    <!-- Bootstrap CSS -->
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
<!-- ============================================================== -->
<!-- login page  -->
<!-- ============================================================== -->
<div class="splash-container">
    <div class="card ">
        <div class="card-header text-center "><a href="../index.html"><img class="logo-img" src="{{asset('assets')}}/admin/assets/images/logo.png" alt="logo"></a><span class="splash-description">Please enter your user information.</span></div>
        <div class="card-body ">

            {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}
            <button class="btn btn-space btn-primary">{{ button_label|default('Save') }}</button>
            {{ form_end(registrationForm) }}




        </div>

    </div>
</div>






<script src="{{ asset('assets') }}/admin/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="{{ asset('assets') }}/admin/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>