{% extends 'adminbase.html.twig' %}

{% block title %}Category Home Page{% endblock %}

{% block body %}
<h1>Category index</h1>
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Category List </h2>
                    <p class="pageheader-text"></p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Category</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Category List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <a href="{{ path('category_new') }}"  class="btn btn-space btn-primary">Create new</a>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Parentid</th>
                        <th>Title</th>
                        <th>Keywords</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Status</th>

                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.parentid }}</td>
                            <td>{{ category.title }}</td>
                            <td>{{ category.keywords }}</td>
                            <td>{{ category.description }}</td>
                            <td>{{ category.image }}</td>
                            <td>{{ category.status }}</td>
                            <td>
                                <a href="{{ path('category_show', {'id': category.id}) }}"  class="btn btn-space btn-primary">show</a>
                                <a href="{{ path('category_edit', {'id': category.id}) }}"  class="btn btn-space btn-primary">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    {% endblock %}
